
#imgandinf{
width: 100%;
height: 100%s;
}
#infoandparagraph {
  display: flex;
  flex-direction: column;
}


#me {
   margin: 10rem 1.2rem;
   margin-bottom: 0;
  width: 93%;          
  max-width: 100%;
  height: auto;        
  border: outset black;
  display: block;
  object-fit: cover;   
  justify-content: center;
  align-items: ce;
}


#info {

  font-size: 2rem;
  background: white;
  text-align: center;
  background-color: black;
  color: white;
}

#paragraph {
  font-size: 3rem;
  padding: 1rem 0;
  text-align: justify;
  text-align-last: center;
  padding: 0 1rem;  
      background: rgba(0, 0, 0, 0.1);  /* transparent white */
  backdrop-filter: blur(1px);            /* blur behind it */
  -webkit-backdrop-filter: blur(1px);    /* for Safari */
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(133, 133, 133, 0.4);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}



#paragraph p, #info p, #info {

   color: white;
  word-break: break-word;
  white-space: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#info{
    margin: 3%; 
    padding: 1rem;

  background: rgba(0, 0, 0, 0.1);  /* transparent white */
  backdrop-filter: blur(1px);            /* blur behind it */
  -webkit-backdrop-filter: blur(1px);    /* for Safari */
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(133, 133, 133, 0.4);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
#info p{
  margin: 0;
  
}

@media (min-width: 768px ) {


#info {
  width: 100%;
  font-size: 2rem;
  background: black;
  text-align: center;

}


#paragraph {
  
  font-size: 2rem;

  text-align: justify;
  text-align-last: center;
  padding: 0 1rem;  
  margin: 3%;
}
}

@media (min-width:1024px) {
   
#imgandinfo {
  
  padding: 0 1rem;      
  display: flex;
  flex-direction: row;
}


#me {
  width: 50%;         
  max-width: 50%;
  height: auto;        
  margin-bottom: 1rem;  
  display: block;
  object-fit: cover;   
  float: left;
  margin-top: 5%;
}



#info {
   
  font-size: 2rem;
  background: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 45.2rem;
  margin-top: 5%;
}


#paragraph {
  font-size: 3rem;
  text-align: justify;
  text-align-last: center;
  margin: 0;

}
#paragraph {

  line-height: 1.5;
  font-size: 3rem;
  text-align: justify;
  text-align-last: center;
  padding: 0 1rem;  
  margin: 0;
}
}



@media (min-width:1080px) {
   
#imgandinfo {
  
  padding: 0 1rem;      
  display: flex;
  flex-direction: row;
}


#me {
  width: 50%;         
  max-width: 50%;
  height: auto;        
  margin-bottom: 1rem;  
  display: block;
  object-fit: cover;   
  float: left;
  margin-top: 5%;
}



#info {
   
  font-size: 3rem;
  background: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 56.5rem;
  margin-top: 5%;
}

#paragraph p{
  text-align: left;
}
#paragraph p{
  margin: 1rem;
}
}