html{
  font-size: 10px;
  margin: 0;
}

body{
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /* keeps text size stable on iPhone */
}

#account{
  height: 10% !important;
}

#navbartitle{
  color: red;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
#navbar{
  position: relative;
  list-style: none;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0;
 
  background-color: rgb(0, 0, 0);
 box-shadow: 0px -30px 90px 0px white;
}

#navbar li{ 
   display: inline-block;
   text-align: center;
  
  width: 32.8%;
  font-size: 3rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar li:hover{
  background-color: rgb(73, 73, 73);

}

#navbar li:active{
  background-color: rgb(119, 119, 119);
}

a{
  display: block;
  text-decoration: none;
  color: inherit;

  width: 100%;
}


#dropdown{
position: relative;
float: left !important;
}

#dropdowncontent{
  position: absolute;
  display: none;
  width: 100%;
}

#dropdown:hover #dropdowncontent{
  display: block;
  background-color: rgba(136, 136, 136, 0.6);
}

 #dropdowncontent a:hover{
background-color: rgba(17, 17, 17, 0.6);
 }
 
 
 @media (min-width:768px) {

#navbartitle{
  color: red;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 5rem;
}
#navbar{
  position: relative;
  list-style: none;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
 box-shadow: 0px -30px 90px 0px white;
}




#navbar li{ 
   display: inline-block;
   text-align: center;
  
  width: 32.8%;
  font-size: 5rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar li:hover{
  background-color: rgb(73, 73, 73);

}

#navbar li:active{
  background-color: rgb(119, 119, 119);
}

a{
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
}



 }
@media (min-width:1024px) {
#navbartitle{
  display: inline;
  color: red;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  top: 10%;
  left: 50%;
}
#navbar{
  position: relative;
  list-style: none;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
 box-shadow: 0px -30px 90px 0px white;
}

#navbar li{ 

display: inline-block;
text-align: center;
  
  width: 15.4%;
  height: 100%;
  font-size: 3rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dropdown{
  float: right !important;
position: relative;

}




#dropdowncontent{
  position: absolute;
  display: none;
  width: 100%;
}

#dropdown:hover #dropdowncontent{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

 #dropdowncontent a:hover{
background-color: rgba(0, 0, 0);
 }
}


@media (min-width: 1280px) {

  #navbartitle{
  display: inline;
  color: red;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  top: 10%;
  left: 50%;
}
#navbar{
  position: relative;
  list-style: none;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
 box-shadow: 0px -30px 90px 0px white;
}

#navbar li{ 

display: inline-block;
text-align: center;
  
  width: 15.4%;
  font-size: 3rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dropdown{
  float: right !important;
position: relative;
}

#dropdowncontent{
  position: absolute;
  display: none;
  width: 100%;
}

#dropdown:hover #dropdowncontent{
  display: block;
  background-color: rgba(231, 229, 229, 0.6);
}

 #dropdowncontent a:hover{
background-color: rgb(17, 17, 17,0.6);
 }

}


@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {



  #navbartitle{
  display: inline;
  color: red;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 6rem;
  top: 10%;
  left: 50%;
}
#navbar{
  position: relative;
  list-style: none;
  height: 8rem;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
 box-shadow: 0px -30px 90px 0px white;
}

#navbar li{ 

display: inline-block;
text-align: center;
  
  width: 15.4%;
  font-size: 4.5rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dropdown{
  float: right !important;
position: relative;
}

#dropdowncontent{
  position: absolute;
  display: none;
  width: 100%;
}

#dropdown:hover #dropdowncontent{
  display: block;
  background-color: rgba(231, 229, 229, 0.6);
}

 #dropdowncontent a:hover{
background-color: rgb(17, 17, 17,0.6);
 }



}