
*,
*::before,
*::after{
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /* keeps text size stable on iPhone */
}


@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {

}
 
