


[for],[type="submit"]{
  display: block;
}

form{
 position: absolute;
 top: 50%;
 left:75%;
 transform: translate(-50%,-50%);
 border: solid;
 padding: 2rem;
 border-radius: 1rem;
 background-color: rgb(0, 0, 0);
 border: none;
box-shadow: -2px 2px 10px 10px rgb(255, 255, 255);
height: auto;
width: 35%;
}

label{
  font-size: 2rem;
  color: white;
}
input[type="text"]{
margin-bottom: 1rem;
font-size: 1.5rem;
padding: 1rem;
margin-top: 0.5rem;
outline: 1px solid black;
border-radius: 0.5rem;
border: 1px;
width: 100%;
}

[type="submit"]{
  margin: auto;
  width: 100%;
  border: outset black;
  color: white;
  background-color: green;
}

[type="submit"]:active{
  border: inset rgb(253, 253, 253);
  background-color: red; 

}