footer{
  display: block;
  position: fixed;
   bottom: 0;
  background-color: black;
  width: 100%;
  height: 4rem;
  margin-top: 2%;


  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  box-shadow: 0px -10px 90px 0px white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

