
#caranddetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
}
#blackcarcon{
  margin-top: 12rem;
}
.box {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* Glass effect */
  background: rgba(255, 255, 255, 0.15); /* transparent white */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;


  margin-top: 10%;
  margin-bottom: 5%;
}

.car{
  max-width: 90%;
  padding: 1rem;
}

.title{
  text-align: center;
  font-size: 3rem;
  max-width: 100%;
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MoreInfo{
cursor: pointer;
font-size: 1.5rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.feature{
  font-size: 2rem;
  margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph{
  display: none;
  text-align: justify;
  margin: 0;

  white-space: normal ;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.price{
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



@media (min-width:1024px) {

#blackcarcon{
  margin-top: 10rem;
}
  
.box{
  margin-top: 20%;
}
#caranddetails{
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 2rem;
  height: 100%;
}


}