footer{
  display: block;

  background-color: black;
  width: 100%;
  height: 4rem;
  margin-top: 30rem 0;


  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  box-shadow: 0px -10px 90px 0px white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




@media (min-width:768px) {

  footer{
  display: block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  background-color: black;
  color: white;
   height: 4rem;
   margin-top: 5%;
  width: 100%;
  padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
  display: block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  background-color: black;
  color: white;
   height: 4rem;
   margin-top:5rem 0;
  width: 100%;
  padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

}


@media (min-width:1024px) {



footer{

  text-align: center;
 font-size: 2rem;
  
}

}

@media (width:1024px) {



footer{

  text-align: center;
 font-size: 2rem;
  
}

}

@media (min-width: 1280px) {

footer{
  display: block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  background-color: black;
  color: white;
   height: 4rem;
   margin-top: 1%;
  width: 100%;
  padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



}


@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {


footer{
  display: block;
  position: relative;
  text-align: center;
  font-size: 4rem;
  background-color: black;
  color: white;
   height: 8rem;
   margin-top: 1%;
  width: 100%;
  padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



}
