
#mtitle{
   font-size:4rem;
   text-align: center;
}


#bg-videoandcontent{
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 9rem 0;


}
#content h1,h2{

  margin: 0;

}

#content{
  background: rgba(207, 207, 207,0.3);
  width: 90%;
  border: 2px outset black;
  color: white;
  line-height: 1.0;
  padding: 1rem;
}
#bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:135%;
  object-fit: cover;
  z-index: -1;

}

#mtitle{
  color: rgb(240, 10, 10);
  text-transform: uppercase;
  font-variant: small-caps;
}



.paragraph{
 text-align: center;
 font-size: 3rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
 margin-top: 10%;
}


@media (min-width:768px) {

#bg-videoandcontent{
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 15rem 0;
}

#bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:130%;
  object-fit: cover;
  z-index: -1;

}

  
#mtitle{
   font-size:6rem;
   text-align: center;
}

.paragraph{
 text-align: center;
 font-size: 6rem;

 margin: 0;
 margin-top: 10%;
}

}

@media (min-width:1024px) {

#bg-videoandcontent{
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}


#bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:120%;
  object-fit: cover;
  z-index: -1;

}

#mtitle{
   font-size:6rem;
   text-align: center;
}

.paragraph{
 text-align: center;
 font-size: 4rem;

 margin: 0;
 margin-top: 2%;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
 


#content{
  background: rgba(207, 207, 207,0.3);
  width: 90%;
  height: 90rem;
  border: 2px outset black;
  color: white;
  line-height: 1.0;
  padding: 1rem;
}
#bg-videoandcontent{
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 12rem 0;


}

.paragraph{
 text-align: center;
 font-size: 8rem;

 margin: 0;
 margin-top: 2%;
}
}
